<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<!-- Contains head of website -->
<head>
<!-- Contains head of website
  <% include partials/head %>-->
  <meta http-equiv="description-type" description="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" description="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- STYLE FOR AGENT LISTING -->
  <link rel="stylesheet" href="../../public/css/agentListing.css"></link>
  <!-- STYLE FOR FOOTER -->
  <link rel="stylesheet" href="../../public/css/footer.css"></link>
</head>


<body>

  <!-- Contains header of website 
  <% include partials/header %>
  <! — views/partials/header.ejs -->

<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">My App</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- STYLE FOR AGENT NAVIGATION -->
<div class="container navigation">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://disputebills.com"><img src="../../public/images/logo.png" alt="Dispute Bills">
          </a>
        </div>
        <div id="navbar2" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Rent</a></li>
            <li><a href="#">Buy</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Post Listing</a></li>
                <li><a href="#">Contact Support</a></li> 
                <li><a href="#">Log out</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <!-- HEADER -->
    <div class="container">
        <div class="jumbotron">
          <h1>My Listings</h1> 
          <p>Dummy data</p> 
        </div>
    </div>


    <!-- LISTINGS 
    SHOULD BE WITHIN A FOR LOOP (SIMILIAR TO SALE.EJS). 
    IMPLEMENT THE EJS CODE ABOVE THIS****
    -->
  <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
               <div class="thumbnail img-thumb-bg">
                   <div class="overlay"></div>
                   <div class="caption">
                       <div class="price"><a href="#" id="price" name="price">$6534</a></div>
                       <div class="address"><a href="#" id="formattedAddress" name="formattedAddress">2142 22 ave, San Francisco</a></div>
                       <div class="date">
                           <!-- <span class="meta-data">By Admin on <p id="datePosted" name="datePosted">29/06/2016</p></span> -->
                           <!-- <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span> -->
                       </div>
                       <div class="description">
                            <input type="submit" class="btn btn-primary btn-block login-button" value='Delete'></input>
                           
                       </div>
                   </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="thumbnail img-thumb-bg">
                        <div class="overlay"></div>
                        <div class="caption">
                            <div class="price"><a href="#" id="price" name="price">$6534</a></div>
                            <div class="address"><a href="#" id="formattedAddress" name="formattedAddress">2142 22 ave, San Francisco</a></div>
                            <div class="date">
                                <!-- <span class="meta-data">By Admin on <p id="datePosted" name="datePosted">29/06/2016</p></span> -->
                                <!-- <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span> -->
                            </div>
                            <div class="description">
                                <input type="submit" class="btn btn-primary btn-block login-button" value='Delete'></input>
                                
                            </div>
                        </div>
                    </div>
                 </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="thumbnail img-thumb-bg">
                    <div class="overlay"></div>
                    <div class="caption">
                        <div class="price"><a href="#" id="price" name="price">$6534</a></div>
                        <div class="address"><a href="#" id="formattedAddress" name="formattedAddress">2142 22 ave, San Francisco</a></div>
                        <div class="date">
                            <!-- <span class="meta-data">By Admin on <p id="datePosted" name="datePosted">29/06/2016</p></span> -->
                            <!-- <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span> -->
                        </div>
                        <div class="description">
                                <input type="submit" class="btn btn-primary btn-block login-button" value='Delete'></input>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="thumbnail img-thumb-bg">
                    <div class="overlay"></div>
                    <div class="caption">
                        <div class="price"><a href="#" id="price" name="price">$6534</a></div>
                        <div class="address"><a href="#" id="formattedAddress" name="formattedAddress">2142 22 ave, San Francisco</a></div>
                        <div class="date">
                            <!-- <span class="meta-data">By Admin on <p id="datePosted" name="datePosted">29/06/2016</p></span> -->
                            <!-- <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span> -->
                        </div>
                        <div class="description">
                                <input type="submit" class="btn btn-primary btn-block login-button" value='Delete'></input>
                           
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="thumbnail img-thumb-bg">
                        <div class="overlay"></div>
                        <div class="caption">
                            <div class="price"><a href="#" id="price" name="price">$6534</a></div>
                            <div class="address"><a href="#" id="formattedAddress" name="formattedAddress">2142 22 ave, San Francisco</a></div>
                            <div class="date">
                                <!-- <span class="meta-data">By Admin on <p id="datePosted" name="datePosted">29/06/2016</p></span> -->
                                <!-- <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span> -->
                            </div>
                            <div class="description">
                                    <input type="submit" class="btn btn-primary btn-block login-button" value='Delete'></input>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="thumbnail img-thumb-bg">
                        <div class="overlay"></div>
                        <div class="caption">
                            <div class="price"><a href="#" id="price" name="price">$6534</a></div>
                            <div class="address"><a href="#" id="formattedAddress" name="formattedAddress">2142 22 ave, San Francisco</a></div>
                            <div class="date">
                                <!-- <span class="meta-data">By Admin on <p id="datePosted" name="datePosted">29/06/2016</p></span> -->
                                <!-- <span class="meta-data pull-right"><a href=""><i class="fa fa-heart-o"></i> 4</a></span> -->
                            </div>
                            <div class="description">
                                    <input type="submit" class="btn btn-primary btn-block login-button" value='Delete'></input>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

     <!--  ========== FOOTER START ================== -->
  <footer class="footer">
        <div class="container">
            <div class="row">
            <div class="col-sm-3">
                <h4 class="title">GROUP 007</h4>
                <p>description of business...</p>
            </div>
            <div class="col-sm-3">
                <h4>Menu</h4>
                    <ul class="footerMenu-icon">
                            <a href="#" class="footerMenu"> <i class="fa fa-home" aria-hidden="true"></i> HOME </a>
                            <a href="#" class="footerMenu"> <i class="fa fa-user" aria-hidden="true"></i> ABOUT </a>
                            <a href="#" class="footerMenu"> <i class="fa fa-user-md" aria-hidden="true"></i> CONTACT </a>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row text-center"> Group 007 © 2017.</div>
        </div>
    </footer>
        <!-- end of footer -->

</body>

<script src="https://use.fontawesome.com/07b0ce5d10.js"></script>  <!-- fa icons -->
<script src="../../public/js/agentListing.js"></script> <!-- Contains client side javascript -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPXF-zkLqKND8w5ktBN5bdlTkQSVbw950&libraries=places&callback=initAutocomplete" async defer></script>
<!--<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</html>