<!-- views/partials/footer.ejs -->
<head>
	<base href="/fa17g07/">
	<link rel="stylesheet" href="css/footer.css"></link>
</head>
<body>
	<div class="footer">
		<p>&copy; Real Estate Team 07</p>
	</div>
</body>