<!--   FOOTER START================== -->
    <!-- <base href="/fa17g07/"> -->
 

    <footer class="footer1">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="footer-desc text-center">
                                <img src="http://superdevresources.com/images/super-dev-resources-logo.png" width="82" height="48" alt="">
                                <p>
                                    <a href="/" rel="home" title="HOME">GROUP 007</a> DESCRIPTION...<br>awesome free app and web development resources. <a href="/about/">Learn More</a>
                                </p>
                            </div>
                        </div>
                    </div> <!--/.row-->
                </div> <!--/.container-->
            </div> <!--/.footer-->
            
            <div class="footer-bottom">
                <div class="container">
                    <div class="pull-left"> Copyright © <a href="#">Group 007</a>.  All right reserved.</div>
                    <div class="pull-right">
                        <ul>
                            <li><a href="#"> Home </a></li>
                            <li><a href="#"> About </a></li>
                            <li><a href="#"> Contact </a></li>
                            <li><a href="#"> Login </a></li>
                            <li><a href="#"> </a></li>
                        </ul>
                    </div>
                </div>
            </div> <!--/.footer-bottom--> 
         </footer>