<! — views/partials/header.ejs -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">My App</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
<<<<<<< HEAD
      <li><a href="/fa17g07/">Home</a></li>
=======
      <li><a href="/">Home</a></li>
>>>>>>> a39da69577eea1b8d47b92021e4ec2d2063a5101
      <li><a href="/fa17g07/portfolio">Portfolio</a></li>
    </ul>
    </div>
  </nav>
