<! — views/partials/header.ejs -->
<base href="/fa17g07/">


 <% if(typeof role != 'undefined'){ %>
  <% if(role == "agent") { %>
    <div class="container navigation-agent" id="navigation-agent">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href=""><img src="images/logo.png" alt="logo" id="navLogo">
              </a>
             
            </div>
            <div id="navbar2" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href=""> Home </a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Settings <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="agent/viewListings">View Listings</a></li> 
                      <li><a href="agent/viewMessages">Messages</a></li> 
                    <li><a href="editprofile/agent">Edit Profile</a></li> 
                    <li><a href="agent/post">Post Listing</a></li>  
                    <li><a href="logout">Log out</a></li>     
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <% } else if (role == "user") { %>
      <div class="container navigation-buyer"  id="navigation-buyer">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href=""><img src="images/logo.png" alt="logo" id="navLogo">
              </a>
            </div>
            <div id="navbar2" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href=""> Search </a></li> 
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Settings <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="editProfile"> Profile </a></li>  
                    <li><a href="logout"> Log out </a></li>  
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
        <% } %>
      <% } else { %>
      <div class="container navigation"  id="navigation">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=" "><img src="images/logo.png" alt="logo" id="navLogo">
                </a>
               
              </div>
              <div id="navbar2" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href=" "> Home </a></li>
                  <li><a href="login/"> Login </a></li>
                  <li><a href="register/"> Register </a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Settings <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="portfolio"> About Us </a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
          </nav>
          </div>
          <% } %>
     
