<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
<!-- Contains head of website -->
<base href="/fa17g07/">
<head>
  <% include partials/head %>
  <link rel="stylesheet" href="css/agentListing.css"></link> <!-- styleing for sale page -->
  <title>View Listings</title>
</head>
<body>
  <!-- Contains header of website -->
  <% include partials/header %>
  
  <!-- HEADER -->
  <div class="container">
    <div class="jumbotron">
      <h1>My Listings</h1> 
    </div>
  </div>

<div class="container">
  <div class="row">
    <% for(var i = 0; i < listings.length; i++) { %>
      <div class=" listing col-xs-12">
        <div class="caption">
             <div class="address col-xs-7 col-sm-9"><a href="forSale/<%= listings[i].saleId %>/" id="formattedAddress" name="formattedAddress">  <%= listings[i].formattedAddress %>  </a></div>
             <div class="description col-xs-5 col-sm-3">
                <a href="agent/deleteListing/<%= listings[i].saleId %>">
                  <input type="submit"class="btn btn-warning btn-block login-button" value='Delete'></input>
                </a>
             </div>
          </div>
      </div>
    <% } %>
  </div>
</div>

<!-- container for agent edit profile section start -->
  <script src="js/agentListing.js"></script> <!-- Client side code for sale.ejs -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPXF-zkLqKND8w5ktBN5bdlTkQSVbw950&libraries=places&callback=initMap" async defer></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
 <!-- Contains header of website -->
 <% include partials/footer %>
</html>