<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">


<head>
  <% include partials/head %>
  <link rel="stylesheet" href="css/index.css"></link>
</head>

<body>

  <% include partials/header %>

    <section class="container">
      <% if(typeof imageId !== 'undefined')  { %>
        <img src="../saleImages/<%=imageId[0].imageId%>.jpg" width="400" height="auto"></img>
      <% } %>
    </section>

  <hr>

    <footer>
      <% include partials/footer %>
    </footer>
  </div> <!-- /container -->

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>