<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <% include partials/head %>
  <link rel="stylesheet" href="css/index.css"></link>
</head>

<body>

  <% include partials/header %>

  <% console.log(rows); %>

    <section class="container">
  <!-- search component -->
    <div class="left-half">
    <article>
    <section class="leftHandSide">
    <input type="textarea" name="address" id="address">
    <input type="button" name="submit" onclick="createMarkers()" value="Look for address">
    <div id="map"></div>
    <script>
    
 var map;
    var startLatLng = {lat: 37.4220, lng: -122.0841};
    var markers = [];
    var listingObjects = []; 

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: startLatLng,
        zoom: 5
      });
    }

    function createMarkers(){
      var json = getInfo();
      let city = document.getElementById("address").value;
      

      if(listingObjects.length){
        listingObjects = []; 
      }

      getLat(city); 

      var infowindow = new google.maps.InfoWindow();
    
      while(markers.length > 0){
        markers[markers.length-1].setMap(null);
        markers.pop();
      }
    
      if(city != null){
        for(let i = 0; i < 5; i++){
          if(json.listings[i].city.toLowerCase() == city){
            let lat1 = json.listings[i].lat;    //getting lat 
            let lng1 = json.listings[i].lng;      //getting lng

            var myLatLng={lat: lat1, lng: lng1};


            listingObjects.push(json.listings[i]); 

             marker = new google.maps.Marker({
              map: map,
              position: myLatLng,
              title: json.listings[i].address
            });

           // console.log(marker); 

            markers.push(marker);
            
            google.maps.event.addListener(marker, 'click', function(){
              infowindow.setContent('<div onclick="getInfo(this.innerHTML)">' +  json.listings[i].address + '</div>');
              infowindow.open(map,this);
            }); 
          }
        } 
        createInfoBox(listingObjects); 
      }
    }

    function getInfo(){
        var json = {"listings": [
                     {
                       "price": "3001",
                       "address": "155 bright st. San Francisco, CA 96134", 
                       "city": "san francisco", 
                       "state": "california", 
                       "zip": 94123,
                       "lat": 37.4220, 
                       "lng": -122.0841
                     },
                     {
                       "price": "45643.98",
                       "address": "3490 candlewood st, San Francisco, CA 9876", 
                       "city": "san francisco", 
                       "state": "california", 
                       "zip": 94123,
                       "lat": 38.4220, 
                       "lng": -122.0841
                     }, 
                     {
                       "price": "2344",
                       "address": "5468 iowa, st. San Francisco, CA", 
                       "city": "san francisco", 
                       "state": "california", 
                       "zip": 94123,
                       "lat": 39.4220, 
                       "lng": -122.0841
                     },
                     {
                       "price": "90000",
                       "address": "9034 keyboard st, San Francisco, CA ", 
                       "city": "san francisco", 
                       "state": "california", 
                       "zip": 94123,
                       "lat": 36.4220, 
                       "lng": -122.0841
                     }, 
                      {
                       "price": "45643",
                       "address": "4564 testing, ave. San Francisco, 83754", 
                       "city": "mateo", 
                       "state": "california", 
                       "zip": 94123,
                       "lat": 35.4220, 
                       "lng": -122.0841
                     }
                  ]}; 
                             
                                   // location.href = "dillonb";
      return json;
    }

    function getLat(address){
      var geocoder = new google.maps.Geocoder();
     
      geocoder.geocode({'address': address}, function(results, status){
        if(status == 'OK'){
          //console.log(address, 'getLat');
          //return parseFloat(results[0].geometry.location.lat());
        }
      });
    }



function createInfoBox(jsonListing){
  //getting parent element to append child elements into it
    let parent = document.getElementsByClassName('row text-center')[0]; 
    
    //check parent children nodes to clear the right side out
    while(parent.hasChildNodes()){
        parent.removeChild(parent.lastChild); 

    }
     parent.lastChild = ''; 

    for(let i = 0; i < jsonListing.length; i++){

        //getting data from objects 
        let city    = jsonListing[i].city, 
            price   = jsonListing[i].price, 
            address = jsonListing[i].address, 
            zipcode = jsonListing[i].zipcode; 

            //creating elements 
        let div       = document.createElement('DIV'), 
            childDiv  = document.createElement('DIV'), 
            aTag      = document.createElement("A"),
            img       = document.createElement('IMG'), 
            pTag      = document.createElement('P'), 
            strongTag = document.createElement('STRONG'), 
            pTagg     = document.createElement('P'); 

            
        div.className       = "col-sm-4", 
        childDiv.className  = "thumbnail", 
        img.alt             = i, 
        img.src             ="image.png", 
        img.width           = '900', 
        img.height          = "300", 
        aTag.src            = "#"; 

        //console.log(parent)
        parent.appendChild(div),
        div.appendChild(childDiv); 
        childDiv.appendChild(aTag); 
        aTag.appendChild(img); 
        childDiv.appendChild(pTag);
        pTag.appendChild(strongTag);
        pTag.appendChild(pTagg); 
        childDiv.appendChild(pTagg); 

        var priceNode   = document.createTextNode(price); 
        strongTag.appendChild(priceNode); 

        var addressNode = document.createTextNode(address); 
        pTagg.appendChild(addressNode); 
    }
}

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPXF-zkLqKND8w5ktBN5bdlTkQSVbw950&callback=initMap"
    async defer></script>
  </section>
      </article>
  </div>
  <!--end of result section -->
  <!--result section -->
    <div class="right-half">
      <article>
        <h1>Right Half</h1>
        
        <div class="row text-center">

        <!--
      <div class="col-sm-4">
        <div class="thumbnail">
          <a href="#"><img src="paris.jpg" alt="Paris" width= "900" height="300"></a>
          <p><strong>Price: $3001</strong></p>
          <p>155 bright st. San Francisco, CA 96134</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <a href="#"><img src="newyork.jpg" alt="New York" width="900" height="300"></a>
          <p><strong>Price: $45643.98</strong></p>
          <p>3490 candlewood st, San Francisco, CA 9876</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <a href="#"><img src="sanfran.jpg" alt="San Francisco" width="900" height="300"></a>
          <p><strong>Price: $2344</strong></p>
          <p>5468 iowa, st. San Francisco, CA</p>
        </div>
      </div>

<div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <a href="#"><img src="paris.jpg" alt="Paris" width="900" height="300"></a>
          <p><strong>Price: $90000</strong></p>
          <p>9034 keyboard st, San Francisco, CA</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <a href="#"><img src="newyork.jpg" alt="New York" width="900" height="300"></a>
          <p><strong>Price: $45643</strong></p>
          <p>4564 testing, ave. San Francisco, 83754</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <a href="#"><img src="sanfran.jpg" alt="San Francisco" width="400" height="300"></a>
          <p><strong>Price: $</strong></p>
          <p>Address...</p>
        </div>
      </div>-->

        <div class="container text-center">
        <a href="#"><h2>More Listings...></h2</a>
        </div>
        
      </article>
    </div>
  <!--end of result section -->

</section>

  <hr>

    <footer>
      <% include partials/footer %>
    </footer>
  </div> <!-- /container -->

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>