<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <% include partials/head %>
  <link rel="stylesheet" href="css/index.css"></link>
</head>

<body>

  <% include partials/header %>

    <section class="container">
  <!-- search component -->
    <div class="left-half">

      <article>
            <section class="leftHandSide">
    <input type="textarea" name="address" id="address">
    <input type="button" name="submit" onclick="getGeo()" value="Look for address">
    <div id="map"></div>
    <script>
      var map;
      var startLatLng = {lat: 37.4220, lng: -122.0841};
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: startLatLng,
          zoom: 5
        });
      }


      function getGeo(){

            var geocoder = new google.maps.Geocoder();
            var address = document.getElementById("address").value;


            var infowindow = new google.maps.InfoWindow();
            var markers = [];
         //   var service = new google.maps.places.PlacesService(map); 

            geocoder.geocode( { 'address': address}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK)
              {
                
                  // do something with the geocoded result
                  for(let i = 0; i < results.length; i++){
                      let lat1 = results[i].geometry.location.lat()
                      let lng1 = results[i].geometry.location.lng()


                      var myLatLng={lat: lat1, lng: lng1};
                      var windowInfo = document.createElement('DIV'); 
                      var newContent = document.createTextNode('<h1>'+ results[i].formatted_address +'</h1>'); 
                      windowInfo.appendChild(newContent); 
                      console.log(windowInfo); 

                        marker = new google.maps.Marker({
                        map: map,
                        position: myLatLng,
                        title: results[i].formatted_address
                      });
                      markers.push(marker);
                      console.log(markers);
                      google.maps.event.addListener(marker, 'click', function(){
                        infowindow.setContent('<div onclick="getInfo(this.innerHTML)">' +  results[i].formatted_address + '</div>');
                        infowindow.open(map,this);
                      }); 
                  }
                  
                  map.setCenter(myLatLng);
                }
            });
      }

      function getInfo(address){
        console.log('you have clicked', address); 

        let city = address.split(',');
        city = city[0].toLowerCase();  

        //test link. links to dillons petsonal page when running on node
        var json = {"listings": [
                               {
                                 "price": "3001",
                                 "address": "155 bright st. San Francisco, CA 96134", 
                                 "city": "san francisco", 
                                 "state": "california", 
                                 "zip": 94123,
                                 "lat": 37.4220, 
                                 "lng": -122.0841
                               },
                               {
                                 "price": "45643.98",
                                 "address": "3490 candlewood st, San Francisco, CA 9876", 
                                 "city": "san francisco", 
                                 "state": "california", 
                                 "zip": 94123,
                                 "lat": 37.4220, 
                                 "lng": -122.0841
                               }, 
                               {
                                 "price": "2344",
                                 "address": "5468 iowa, st. San Francisco, CA", 
                                 "city": "san francisco", 
                                 "state": "california", 
                                 "zip": 94123,
                                 "lat": 37.4220, 
                                 "lng": -122.0841
                               },
                               {
                                 "price": "90000",
                                 "address": "9034 keyboard st, San Francisco, CA ", 
                                 "city": "san francisco", 
                                 "state": "california", 
                                 "zip": 94123,
                                 "lat": 37.4220, 
                                 "lng": -122.0841
                               }, 
                                {
                                 "price": "45643",
                                 "address": "4564 testing, ave. San Francisco, 83754", 
                                 "city": "mateo", 
                                 "state": "california", 
                                 "zip": 94123,
                                 "lat": 37.4220, 
                                 "lng": -122.0841
                               }
                              ]}; 
                               
                                     // location.href = "dillonb";
        
        if(city != null){
          console.log(city)
          for(let i = 0; i < 5; i++){
            if(json.listings[i].city.toLowerCase() == city){
              console.log(json.listings[i].address, 'for this price: ', json.listings[i].price); 
            }
          }  
        }             
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPXF-zkLqKND8w5ktBN5bdlTkQSVbw950&callback=initMap"
    async defer></script>
  </section>
      </article>
  </div>
  <!--end of result section -->
  <!--result section -->
    <div class="right-half">
      <article>
        <h1>Right Half</h1>
        <p>result container goes here...</p>
      </article>
    </div>
  <!--end of result section -->

</section>

  <hr>

    <footer>
      <% include partials/footer %>
    </footer>
  </div> <!-- /container -->

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>