<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <% include partials/head %>
  <link rel="stylesheet" href="css/index.css"></link>
</head>

<body>

  <% include partials/header %>

  <div class="container">
  <div class="jumbotron">
    <h1Team 07</h1> 
    <p>Click on portfolio in the navbar to see our team</p> 
    </div>
    </div>

    <section class="container">
  <!-- search component -->
    <div class="left-half">
      <article>
        <h1>Left Half</h1>
        <p>Search component goes here...</p>
      </article>
  </div>
  <!--end of result section -->
  <!--result section -->
    <div class="right-half">
      <article>
        <h1>Right Half</h1>
        <p>result container goes here...</p>
      </article>
    </div>
  <!--end of result section -->

</section>

  <hr>

    <footer>
      <% include partials/footer %>
    </footer>
  </div> <!-- /container -->

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>