<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
<base href="/fa17g07/">

<head>
  <% include partials/head %>
  <link rel="stylesheet" href="css/portfolio.css"></link>
  <title>Portfolios</title>
</head>

<body>

  <% include partials/header %>

  <div class="container">

    <div class="row heading">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center bottom-line">Meet Our Team</h2>
        <p class="subheading text-center">Creative Nerds</p>
      </div>
    </div>

    <div class="row team-row">

      <div class="col-md-4 col-sm-6 team-wrap">
        <div class="team-member text-center">
          <div class="team-img">
            <img src="images/team/dill.jpg" alt="">
            <div class="overlay">
              <div class="team-details text-center">
                <p>
                  My goal as team lead is to establish good working practices, foster communication between team members, set reasonable goals that can be met on time, and contribute with front and backend skills
                  <h3><a href="team/dillonb" target="_self">Read more.</a></h3>
                </p>
                <div class="socials mt-20">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </div>
          </div>
          <h6 class="team-title">Dillon Brosnan</h6>
          <span>Team Lead</span>
        </div>
      </div>
      <!-- end team member -->


      <div class="col-md-4 col-sm-6 team-wrap">
        <div class="team-member text-center">
          <div class="team-img">
            <img src="images/team/darryl.png" alt="">
            <div class="overlay">
              <div class="team-details text-center">
                <p>
                  Frontend is something that I am accustomed of. It's important to have a simple yet appealing design for users to use with ease while being unique to other websites.
                  <h3><a href="team/darrylr" target="_self">Read more.</a></h3>
                </p>
                <div class="socials mt-20">
                  <a href="https://www.facebook.com/spamwaits"><i class="fa fa-facebook"></i></a>
                  <a href="https://twitter.com/spamwaits"><i class="fa fa-twitter"></i></a>
                  <a href="mailto:draveche@gmail.com"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </div>
          </div>
          <h6 class="team-title">Darryl Raveche</h6>
          <span>Frontend Team Member</span>
        </div>
      </div>
      <!-- end team member -->

      <div class="col-md-4 col-sm-6 team-wrap">
        <div class="team-member text-center">
          <div class="team-img">
            <img src="images/team/me.jpg" alt="">
            <div class="overlay">
              <div class="team-details text-center">
                <p>
                  My focus is frontend development. This includes functionality with the UI and UX.
                  <h3><a href="team/royanguiano" target="_self">Read more.</a></h3> 
                </p>
                <div class="socials mt-20">
                  <a href="https://www.facebook.com/roy.anguiano.9"><i class="fa fa-facebook"></i></a>
                  <a href="https://twitter.com/royAnguiano2015"><i class="fa fa-twitter"></i></a>
                  <a href="mailto:roya@tuborrow.com"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </div>
          </div>
          <h6 class="team-title">Roy Anguiano</h6>
          <span>Frontend Lead</span>
        </div>
      </div>
      <!-- end team member -->

      <div class="col-md-4 col-sm-6 team-wrap">
        <div class="team-member last text-center">
          <div class="team-img">
            <img src="images/team/ani.jpg" alt="">
            <div class="overlay">
              <div class="team-details text-center">
                <p>
                  Our web design team will spend time with our digital marketing team.
                  <h3><a href="team/animohan" target="_self">Read more.</a></h3>
                </p>
                <div class="socials mt-20">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </div>
          </div>
          <h6 class="team-title">Anirudh Mohan</h6>
          <span>General Team Member</span>
        </div>
      </div> 
      <!-- end team member -->

      <div class="col-md-4 col-sm-6 team-wrap">
        <div class="team-member last text-center">
          <div class="team-img">
            <img src="images\team\Indra.jpg" alt="">
            <div class="overlay">
              <div class="team-details text-center">
                <p>
                 Hoping to Amalgate Business and Programming for higher business process efficiency! 
                  <h3><a href="team/indra" target="_self">Read more.</a></h3>
                </p>
                <div class="socials mt-20">
                  <!--<a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-envelope"></i></a>-->
                </div>
              </div>
            </div>
          </div>
          <h6 class="team-title">Indra D Gairhe</h6>
          <span>Team Member</span>
        </div>
      </div>
      <!-- end team member -->

      <div class="col-md-4 col-sm-6 team-wrap">
        <div class="team-member last text-center">
          <div class="team-img">
            <img src="images\team\vikram.jpg" alt="">
            <div class="overlay">
              <div class="team-details text-center">
                <p>
                  Architecting the next best real estate app.
                  <h3><a href="team/vikram" target="_self">Read more.</a></h3>
                </p>
                <div class="socials mt-20">
                  <a href="https://www.facebook.com/vikram.grewal1992"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </div>
          </div>
          <h6 class="team-title">Vikram Grewal</h6>
          <span>Backend Lead</span>
        </div>
      </div>
      <!-- end team member -->

    </div>

  </div>

  <hr>
  
  <footer>
    <% include partials/footer %>
  </footer>

</body>
</html>