<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
<base href="/fa17g07/">

<!-- Contains head of website -->
<head>
  <% include partials/head %>
  <link rel="stylesheet" href="css/post.css"></link>
  <title>Post Listing</title>
</head>


<body>
    <!-- Contains header of website -->
    <div class="container navigation-agent" id="navigation-agent">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href=""><img src="images/logo.png" alt="logo" id="navLogo">
              </a>
            </div>
            <div id="navbar2" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href=""> Home </a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="agent/messageAgent">Messages</a></li> 
                    <li><a href="agent/editprofile">Edit Profile</a></li> 
                    <li><a href="agent/post">Post Listing</a></li>  
                    <li><a href="logout">Log out</a></li>     
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

    <!-- Contains body of page -->
    <div class="container registerContainer">

    <div class="row main">
      <div class="main-login main-center">
        <h1>Agent Post Listing: </h1>
        <form ref='postForm' action="agent/post/" method="post" id="postForm" enctype="multipart/form-data" onsubmit="return postValidation()">
          <input id="latInput" name="lat"></input>
          <input id="lngInput" name="lng"></input>
          <div class="form-group">
            <label for="formattedAddress">Address:</label>
            <input name="formattedAddress" type="text" class="form-control" id="formattedAddress" placeholder="Select location">
          </div>
          <div class="form-group">
            <label for="beds">Bedrooms:</label>
            <select name="beds" class="form-control" id="beds">
              <% for(var i = 0; i <= 20; i++)  {   %>
                <option><%= i %></option>
              <% }  %>
            </select>
          </div>
          <div class="form-group">
            <label for="baths">Bathrooms:</label>
            <select name="baths" class="form-control" id="baths">
              <% for(var i = 0; i <= 20; i+=0.5)  {   %>
                <option><%= i %></option>
              <% }  %>
            </select>
          </div>
          <div class="form-group">
            <label for="sqFt">Square Feet:</label>
            <input name="sqFt" type="number" class="form-control" id="sqFt" min="0">
          </div>
          <div class="form-group">
            <label for="lotSqFt">Lot Square Feet:</label>
            <input name="lotSqFt" type="number" class="form-control" id="lotSqFt" min="0">
          </div>
          <div class="form-group">
            <label for="yearBuilt">Year Built:</label>
            <select name="yearBuilt" class="form-control" id="yearBuilt">
              <% for(var i = new Date().getFullYear(); i > 1600; i--)  {   %>
                <option><%= i %></option>
              <% }  %>
            </select>
          </div>
          <div class="form-group">
            <label for="lotType">Lot Type:</label>
            <select name="lotType" class="form-control" id="lotType">
              <option>House</option>
              <option>Apartment</option>
              <option>Condo</option>
              <option>Townhouse</option>
              <option>Manufactured</option>
              <option>Land</option>
            </select>
          </div>
          <div class="form-group">
            <label for="hoa">HOA:</label>
            <input name="hoa" type="number" class="form-control" id="hoa" min="0">
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input name="price" type="number" class="form-control" id="price" min="0">
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <input name="description" type="text" class="form-control" id="description" min="0">
          </div>
          <div class="form-group">
            <input type="file" name="saleImage" class="form-control" multiple>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
    </div>
    <!-- End of search box area -->


  <script src="js/post.js"></script> <!-- Contains client side javascript -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPXF-zkLqKND8w5ktBN5bdlTkQSVbw950&libraries=places&callback=initAutocomplete" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>