<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<!-- Contains head of website -->
<head>
  <% include partials/head %>
  <link rel="stylesheet" href="/fa17g07/public/css/userChat.css"></link>
  <title>User Chat</title>
</head>


<body>

  <!-- Contains header of website -->
  <% include partials/header %>

  <!-- Contains body of page -->
  <div class="container-fluid chatContainer">

  <div class="container-fluid chatLog">
    <% if(typeof messages != 'undefined') { %>
      <% for(var i = 0; i < messages.length; i++) { %>
        <% if(messages[i].role == 'user') { %>
          <div class="userMessage">
            <%= messages[i].messageContent %>
          </div>
        <% } %>
        <% if(messages[i].role == 'agent') { %>
          <div class="agentMessage">
            <%= messages[i].messageContent %>
          </div>
        <% } %>
      <% } %>
    <% } %>
  </div>
  
  <form class="container-fluid col-xs-12 chatInput">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter message" name="messageContent" id="messageContent">
      <div class="input-group-btn">
        <button id="sendMessageBtn" class="btn btn-default" type="submit">
          Send message
        </button>
      </div>
    </div>
  </form>

  </div>

  <script src="/fa17g07/public/js/userChat.js"></script>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>