body	{
	margin-top: 50px;
	padding-top: 20px;
  font-size: 1.25rem;
  font-family: sans-serif;
  line-height: 150%;
  text-shadow: 0 2px 2px #b6701e;
}

p{
  text-shadow: no; 
}


	* {
  box-sizing: border-box;
}
section {
  color: #000000;
  text-align: center;
}

.leftHandSide{
  padding-top: inherit;
}
.left-half, .right-half {
  height: 100%;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

.navbar{
  display: none;
}
/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left-half {
  padding-top: inherit;
  background-color: #a09587;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  background-color: #b5a490;
  position: absolute;
  right: 0px;
  width: 50%;
}
#map {
  height: 565px;
  width: 100%;
}
/* Optional: Makes the sample page fill the window. */

#address{
  margin-top: 15px; 
  margin-bottom: 15px; 
  width: 500px;
}

/* query input style*/
#query{
  width: 80%;
  box-sizing: border-box;
  border:2px solid #ccc;
  border-radius: 4px; 
  font-size: 16px;
  background-color: white; 
  background-image: url('#');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 7px 0px 7px 14px;
}

#submit{
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
}