body	{
	margin-top: 50px;
	padding-top: 20px;
<<<<<<< HEAD
}
=======
}


	* {
  box-sizing: border-box;
}
body {
  font-size: 1.25rem;
  font-family: sans-serif;
  line-height: 150%;
  text-shadow: 0 2px 2px #b6701e;
}

section {
  color: #000000;
  text-align: center;
}

.left-half, .right-half {
  height: 100%;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}
table, td {
  border: 1px solid black;
}

/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left-half {
  background-color: #a09587;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  background-color: #b5a490;
  position: absolute;
  right: 0px;
  width: 50%;
}
      #map {
        height: 500px;
        width: 500px;
      }
      /* Optional: Makes the sample page fill the window. */
 
      #address{
        margin-top: 15px; 
        margin-bottom: 15px; 
        width: 500px;
      }
>>>>>>> dev
