/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */
body, html{
     height: 100%;
    background-repeat: no-repeat;
    background-color: white;
    font-family: sans-serif;
}
.main{
    margin-top: 70px;
}
h1.title { 
    font-size: 50px;
    font-family: 'Passion One', cursive; 
    font-weight: 400; 
}
h2 { 
    font-size: 35px;
    font-family: "Geneva"; 
    font-weight: 400; 
    text-align: center;
}
.details {
}
.price {
    text-align: center;
    font-size: 45px;
    font-family: 'Helvetica Neue';
}
.page-header {
    text-align: center;
    font-family: 'Helvetica Neue';
}
.page-header.header {
    text-align: center;
    font-size: 25px;
    font-family: "Geneva";
}
p {
    font-size: 16px;
    font-family: "Helvetica Neue";
}
hr{
    width: 10%;
    color: #fff;
}
.form-group{
    margin-bottom: 15px;
}
label{
    margin-bottom: 10px;
}
.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;
}
.separation {
    height : 2px;
    width: 100%;
    border-top: 2px solid #ccc;
}
button {
    text-align: center;
}
.listing {
    width:50%; 
    float:left;
    font-family: "Helvetica Neue";
}
.a {
    font-size: 16px;
}
img {
    max-width: 500px;
}
.form-group{
    margin-bottom: 15px;
}
.login-register{
    font-size: 11px;
    text-align: center;
}
.col-md-6.leftblock{
    width: 500px;
}
.col-md-6.description{
    text-align: center;
}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
     font-size: 16px;
}
.nav-tabs, .nav-pills {
    text-align:center;
}
#map{
    height: 500px; 
}