html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
	overflow-x: hidden;
}

.container-fluid	{
	padding-left: 0;
	padding-right: 0;
}

.saleContainer	{
	padding: 10px!important; 
	margin-top: 10px;
	height: calc(100vh - 50px);
	bottom: 0;
}

.mapContainer	{
	height: 100%;
}

.listContainer	{
	height: 100%;
	background-color: LightGray;
	overflow-y: scroll;
}

#map {
	height: 100%;
}


/* sale listing results styling */
a {
	text-decoration: none;
	transition: all 0.3s ease-in-out;
  }
  a:hover,
  a:focus,
  a:active {
	text-decoration: none;
  }
  .btn {
	text-transform: uppercase;
  }
  .btn.btn-lg {
	padding: 6px 30px;
  }
  .thumbnail-title {
	font-size: 20px;
	margin-top: 5px;
  }
  .img-thumb-bg {
	padding: 0;
	overflow: hidden;
	min-height: 200px;
	position: relative;
	border-radius: 3px;
	background-position: center;
	background-color: transparent;
	/*background-image: url('http://projects.mostlikers.com/_images/estate-image.jpg');*/
  }
  .img-responsive{
	padding: 0;
	overflow: hidden;
	min-height: 200px;

	border-radius: 3px;
	background-position: center;
  }
  .img-thumb-bg p {
	color: #fff;
	margin-bottom: 0;
	line-height: 16px;
  }
  .img-thumb-bg .overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	transition: all 0.3s ease-in-out;
	background: rgba(0, 0, 0, 0);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000 100%);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  }
  .img-thumb-bg .caption {
	bottom: -5px;
	height: 100px;
	font-size: 12px;
	position: absolute;
	padding: 0 20px 20px;
	transition: all 0.3s ease-in-out;
  }
  .img-thumb-bg .caption .tag a {
	color: #fff;
	padding: 0 5px;
	font-size: 12px;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
	background-color: #2980B9;
  }
  .img-thumb-bg .caption .title {
	margin-top: 5px;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
  }
  .img-thumb-bg .caption .title a {
	color: #fff;
  }
  .img-thumb-bg .caption .title a:hover {
	color: #2980B9;
  }
  .img-thumb-bg .caption .meta-data {
	color: #777;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 15px;
  }
  .img-thumb-bg .caption .meta-data a {
	color: #777;
  }
  .img-thumb-bg .caption .meta-data a .fa {
	color: #2980B9;
  }
  .img-thumb-bg .caption .meta-data a:hover {
	color: #2980B9;
  }
  .img-thumb-bg .caption .content {
	display: none;
  }
  .img-thumb-bg:hover .overlay {
	background: rgba(46, 49, 58, 0.8);
  }
  .img-thumb-bg:hover .caption {
	bottom: 60px;
  }
  .img-thumb-bg:hover .caption .content {
	display: block;
  }
/* sale listing results styling end */

/* sale listing filter styling start */
	.col{
		width: 400px; 
	}

	.row{
		height: 900px; 
		overflow: scroll; 
	}

#sortingbutton, #sortLocation{
	display: inline-block;
	border-radius: 4px;
	background-color: #798779;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	width: 155px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 3px;
}

#sortingbutton i,  #sortLocation i {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#sortingbutton i:after, #sortLocation i:after {
 
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#sortingbutton:hover i, #sortLocation:hover i{
  padding-right: 10px;
}

#sortingbutton i:after, #sortLocation i:after {
  opacity: 1;
  right: 0;
}

/* sale listing filter styling end */