<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
<base href="/">

<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="css/team.css"></link>
</head>

<body>

    <% include ../partials/header %>

    <div class="container">
        
        <div class="row">
            
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
               <div class="well profile">
                    <div class="col-sm-12">
                        <div class="col-xs-12 col-sm-8">
                            <h2>Anirudh Mohan</h2>
                            <p><strong>About: </strong> Software Developer, Frontend and Backend Team Member </p>
                            <p><strong>Hobbies: </strong> Networking,Traveling, Acting, Hikeing.</p>
                            <p><strong>Skills: </strong>
                                <span class="tags">Javascript</span> 
                                <span class="tags">Java</span>
                                <span class="tags">C++</span>
                                <span class="tags">HTML</span>
                                <span class="tags">CSS</span>
                                <span class="tags">Project management</span>
                            </p>
                        </div>             
                        <div class="col-xs-12 col-sm-4 text-center">
                            <figure>
                                <img src="images/team/ani.jpg" alt="" class="img-circle img-responsive">
                                <figcaption class="ratings">
                                    <p>Ratings
                                    <a href="#">
                                        <span class="fa fa-star"></span>
                                    </a>
                                    <a href="#">
                                        <span class="fa fa-star"></span>
                                    </a>
                                    <a href="#">
                                        <span class="fa fa-star"></span>
                                    </a>
                                    <a href="#">
                                        <span class="fa fa-star"></span>
                                    </a>
                                    <a href="#">
                                         <span class="fa fa-star-o"></span>
                                    </a> 
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>                           
                </div>
            </div>
        
        </div>

    </div>

    <hr>

    <footer>
      <% include ../partials/footer %>
    </footer>

</body>
</html>